@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

g.node {
  cursor: pointer;
}

g.edge text,
g.node text {
  font-size: 16px;
  font-weight: 100;
  dominant-baseline: middle;
  text-anchor: middle;
}

g.node text.type {
  font-size: 12px;
}

svg line {
  stroke: #222;
  stroke-opacity: 0.2;
}

text {
  fill: #000;
  stroke: #000;
}